.header {
  display: flex;
  gap: 450px;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f7;
}

.linkLogo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav {
  display: flex;
  gap: 32px;
  align-items: center;
}

.link {
  color: #101828;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.active {
  color: #d84343;
}
